<h1>All Studios </h1>

<% @studios.each do |studio|  %>
   <section class="grid-container" id= 'studio-<%=studio.id%>'>
      <h3>Name: <%= studio.name %></h3> 
        <% studio.movies.each do |movie|  %>
            <section id= 'movies'>
                <h4>Movies: <%= movie.name %></h4> 
            </section>
        <% end %>
    </section>
<% end %>
